astroid==2.4.2
attrs==19.3.0
click==7.1.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
-e git+git@github.com:pynchia/nea-test.git@d9f2015e4bda3250784e742a3e2517476c767297#egg=nea
packaging==20.4
# pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
pytest-asyncio==0.14.0
six==1.15.0
toml==0.10.1
wcwidth==0.2.5
wrapt==1.12.1
